body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: px2em(15);
    padding-right: px2em(15);
    margin: 0 auto;

    @include maxWidth(1200px) {
        max-width: 90%;
    }

    @include maxWidth(1080px) {
        padding-left: px2em(10);
        padding-right: px2em(10);
    }

    @include maxWidth(980px) {
        max-width: 100%;
    }
}

.paddingAuto {
    padding-left: px2em(15);
    padding-right: px2em(15);

    @include maxWidth(1080px) {
        padding-left: px2em(10);
        padding-right: px2em(10);
    }
}

.main_header {
    border-bottom: 1px solid #e8e8e8;
}

.aside_header {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    position: relative;

    .main_logo {
        width: 300px;

        @include maxWidth(980px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navbar_brand {
            display: block;

            img {
                max-width: 100%;
                width: 200px;

                @include maxWidth(980px) {
                    width: 260px;
                }
            }
        }
    }

    .show_menu {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        span {
            width: 32px;
            height: 26px;
            display: block;
            cursor: pointer;

            &.bullet__show {
                display: none;
                background: url(../images/icon/bulletmenu02.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
            }

            &.bullet__hide {
                display: block;
                background: url(../images/icon/bulletmenu01.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
            }
        }

        @include maxWidth(980px) {
            display: flex;
        }
    }

    .main_nav {
        @include calc('width', '100% - 300px');

        @include maxWidth(980px) {
            display: none;
        }

        .primary_menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .item_menu {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &.curent_menu {
                    a {
                        color: $col1;
                    }
                }

                a {
                    text-decoration: none;
                    outline: none;
                    color: $col2;
                }

                @include hofo() {
                    a {
                        color: $col1;
                    }
                }
            }
        }
    }
}

.box_menu {
    position: fixed;
    width: 280px;
    top: 0;
    left: -280px;
    bottom: 0;
    background: #f7f7f7;
    display: none;
    @include tran_slow_03;

    @include maxWidth(980px) {
        display: block;
    }

    .primary_menu {
        .item_menu {
            padding: 0 10px;

            &.curent_menu {
                a {
                    color: $col1;
                }
            }

            a {
                display: block;
                color: #333;
                text-decoration: none;
                outline: none;
                padding: 10.5px 0;
                border-bottom: 1px solid #e7e7e7;
            }
        }
    }
}

.menu_ovelay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .54);
}

.content_main_father {}

.main_slide {
    .swiper_main_slide {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
            display: flex;

            .swiper-slide {
                width: 100%;
                height: 600px;
                -ms-flex-negative: 0;
                // background: $col1;
                flex-shrink: 0;
                color: #fff;

                &.slideshow {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: px2em(60);
                }

                // &:nth-child(2n+1) {
                //     background: $col2;
                // }
            }
        }
    }
}

.header_top_bar {
    background-color: #F5F5F5;
}

.header_top____bar {
    &::after {
        @include clear_fix();
    }

    .bar_left {
        float: left;

        .contact_detail {
            &::after {
                @include clear_fix();
            }

            .item {
                float: left;
                border-right: 1px solid #E2E6E7;
                font-size: px2em(13);
                color: #999;
                line-height: 20px;
                padding: 15px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;

                &:first-child {
                    border-left: 1px solid #E2E6E7;
                }

                &::before {
                    content: '';
                    height: 15px;
                    width: 15px;
                    display: block;
                    margin-right: 5px;
                }

                &.temp_phone {
                    &::before {
                        background: url(../images/icon/i__phone.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }

                &.temp_mail {
                    &::before {
                        background: url(../images/icon/i__envelope.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }

                &.temp_clock {
                    &::before {
                        background: url(../images/icon/i__oclock.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

    .bar_right {
        float: right;

        .social_box {
            .item {
                float: left;
                color: #999;
                line-height: 20px;
                padding: 15px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-right: 1px solid #E2E6E7;

                a {
                    &::before {
                        content: '';
                        height: 15px;
                        width: 15px;
                        display: block;
                        margin-right: 5px;
                    }
                }

                &.fb {
                    a {
                        &::before {
                            background: url(../images/icon/s__facebook.png);
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }

                &.tw {
                    a {
                        &::before {
                            background: url(../images/icon/s__twitter.png);
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }

                &.yt {
                    a {
                        &::before {
                            background: url(../images/icon/s__youtube.png);
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
}

.wa__001 {
    background-color: $col1;
    height: 88px;
    margin-top: -51px;
    -webkit-transform: skew(0deg, -2.5deg);
    transform: skew(0deg, -2.5deg);
    -moz-transform: skew(0deg, -2.5deg);
    -ms-transform: skew(0deg, -2.5deg);
    -o-transform: skew(0deg, -2.5deg);
}

.rendtal__car_list {
    background: #fff;
    min-height: 400px;

    .heading_main {}
}

.heading_main {
    padding-top: 40px;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    .title {
        padding: 5px 25px;
        color: #333333;
        font-size: px2em(30);
        line-height: 1.3;
        font-weight: 700;
    }

    .desscription {
        color: #999999;
        line-height: 1.2;
        font-weight: px2em(13);
    }
}

.list__car {
    margin-top: 2em;

    .swiper_slideCar {
        width: 100%;
        z-index: 1;
        position: relative;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        list-style: none;

        .swiper_wrapper__car {
            -webkit-transition-property: -webkit-transform;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            z-index: 1;
            position: relative;
            width: 100%;
            height: 100%;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;

            .poster__list {
                width: auto;
                flex-shrink: 0;

                .poster__list__item {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    display: block;
                    width: 380px;
                    height: 100%;
                    margin-right: 16px;
                    float: left;
                    white-space: nowrap;
                    padding: 0 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;
                        outline: none;
                        display: block;

                        .thumb_img {
                            height: 200px;

                            img {
                                max-width: 100%;
                            }
                        }

                        .content_car {
                            background: #f7f7f7;
                            min-height: 120px;
                            padding: 20px 20px 15px;
                            overflow: hidden;

                            .title {
                                @include break_word(2, 22);
                                font-size: px2em(15);
                                text-align: center;
                                color: #222;
                                padding: 0 0 15px;
                                display: inline-block;
                                width: 100%;
                                font-weight: 700;
                            }

                            .body_content {
                                margin-bottom: 20px;

                                .detail_car {
                                    li {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        color: #777;
                                        font-size: px2em(13);
                                        margin-bottom: 10px;

                                        &::before {
                                            margin-right: 5px;
                                            content: '';
                                            height: 14px;
                                            width: 14px;
                                            background: url('../images/icon/i__check.png');
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: 100%;
                                            display: block;
                                        }

                                        strong {
                                            margin-right: 10px;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }

                            .footer {
                                .price {
                                    position: relative;
                                    float: right;
                                    padding: 6px 10px 4px 4px;
                                    margin-left: 18px;
                                    background-color: $col1;
                                    text-align: right;

                                    &:before {
                                        position: absolute;
                                        content: '';
                                        display: block;
                                        top: 0;
                                        left: -12px;
                                        height: 100%;
                                        width: 32px;
                                        background-color: $col1;
                                        transform: skew(-14deg, 0deg);
                                        z-index: 5;
                                    }

                                    .nomal {
                                        position: relative;
                                        z-index: 9;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.table_price {
    margin-top: 120px;

    .heading_main {}
}

.table_tema {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    @include maxWidth(980px) {
        overflow: hidden;
        overflow-x: scroll;
    }

    .list_col {
        border-bottom: 1px solid #fff;

        @include maxWidth(980px) {
            min-width: 1000px;
        }

        display: flex;
        flex-direction: row;
        &.center{
            text-align: center;
        }
        &.heading {
            .item_col {
                background: $col1;
                color: #fff;
                text-align: center;
            }
        }

        .item_col {
            padding: 1em .5em;
            width: auto;
            border-right: none;
            background: #ebebeb;
            border-right: 1px solid #fff;

            &.center {
                text-align: center;
            }

            &.col10 {
                width: 10%;
            }

            &.col20 {
                width: 20%;
            }

            &.col25 {
                width: 25%;
            }

            &.col30 {
                width: 30%;
            }

            &.col35 {
                width: 35%;
            }

            &.col40 {
                width: 40%;
            }

            &.col45 {
                width: 45%;
            }

            &.col50 {
                width: 50%;
            }

            &.col55 {
                width: 55%;
            }

            &.col60 {
                width: 60%;
            }

            &.col65 {
                width: 65%;
            }

            &.col70 {
                width: 70%;
            }

            &.col75 {
                width: 75%;
            }

            &.col80 {
                width: 80%;
            }

            &.col85 {
                width: 85%;
            }

            &.col90 {
                width: 90%;
            }

            &.col95 {
                width: 95%;
            }
        }
    }
}